.e583_4248{ 
	overflow:hidden;
}
.e583_4248 { 
	box-shadow:0px 2px 4px rgba(241.00000083446503, 106.00000128149986, 27.000000290572643, 0.30000001192092896);
	background-color:rgba(241.00000083446503, 106.00000128149986, 27.000000290572643, 1);
	width:116px;
	height:44px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	position:absolute;
}
.e583_4249 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:28px;
	position:absolute;
	left:24px;
	top:8px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
